@import "../../_mixins.scss";

.navbar {
    width: 100%;
    height: 60px;
    padding: 0 3rem;
    background-color: #2a363b;
    color: #fff;
    @include d-flex(row, space-between, center);
}

.brand {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
}

.hamburguer {
    display: none;
}

.menu {
    flex: 1;
    margin-left: 2rem;
    ul {
        @include d-flex(row, flex-start, center);
        gap: 1rem;
    }
}